<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/style.css">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar">
            <code>
                <a href="/">Home</a>
                <div class="dropdown">
                    <button class="dropbtn">Admin
                    </button>
                    <div class="dropdown-content">
                    <a href="/tasks/new">New Task</a>
                    <a href="/tasks/delete">Delete Tasks marked for deletion</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="dropbtn">Status
                    </button>
                    <div class="dropdown-content">
                    <a href="/tasks?status=pending">Pending</a>
                    <a href="/tasks?status=complete">Complete</a>
                    <a href="/tasks?status=delete">Delete</a>
                    </div>
                </div>
                <a href="/tasks">List All</a>
                <a href="/tasks/categories">Categories</a>
            </code> 
        </nav>
        <section class="sect_search">
        <code>
            <form action="{{ url_for('search_id') }}" method="POST">
                <label for="id">Task-ID:</label>
                <input type="text" size=10 id="id" name="id" placeholder="id">
                <button type="submit">Search</button>
            </form>
            <form action="{{ url_for('search_cat') }}" method="POST">
                <label for="category">Category:</label>
                <input type="text" size=10 id="category" name="category" placeholder="category">
                <button type="submit">Search</button>
            </form>
        </code>
        </section>

        {% block content %} {% endblock %}

        <footer class="footbar">
            <code>   
                <a href="/">Home</a>   
            </code>     
        </footer>
        <p>Copyright master@johan.eskils.dev</p>
    </body>

</html>