{% extends 'base.html' %}

{% block content %}
    <body>
        <header class="behind">
            <code>
                <section class="sect_back">
                    <h1>"Don't Expect Me To Become More Organized!"</h1>             
                    <h2>End Points<h2>
                    <p>/</p>
                    <p>/tasks/id</p>
                    <p>/tasks?status=complete</p>
                    <p>/tasks?status=pending</p>
                    <p>/tasks?status=delete</p>


                </section>
            </code>
        </header>
    </body>
{% endblock %}

